
.title {
    font-size: 100%;
        color: #fff;
}
.subtitle {
    font-size: 150%;
        color: #fff;
}

hr {
    color: #CCC;
}

header {
    padding: 0.5em;
    background-color: rgb(51,74,140);
}
header hr {
    width: 80%;
}
header ~ * {
    padding-left: 1em;
    padding-right: 1em;
}

/* Wide screens: header block sticks to the left edge. */
@media screen and (min-width: 50em) {
    header {
        position: fixed;
        top: 0;
        max-height: 100vh;
        overflow-y: auto;
        width: 18em;
        height: 100vh;
    }

    header ~ * {
        margin-left: 19.5em;
        max-width: 40em;
    }
}

article {
    margin-top: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    border-radius: 1px;
}

#lesson-difficulty {
    font-size: 50%;
    text-align: center;
}

#TOC, #lesson-difficulty-outer, div.math {
        background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 1px 3px;
}

div.math ul {
    list-style: none;
    padding: 0.25em 0.25em 0.25em 0.25em;
    margin: 0em 0em 0em 0em;
}

div.math li:nth-child(odd) {
    background-color: #E8E8F0;
}

div.math li {
    margin: 0em 0em 0em 0em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 0em;
}

#TOC ul {
    list-style: decimal-leading-zero;
}
#TOC ul ul {
    list-style: lower-alpha;
    padding-left: .5em;
}

#lesson-nav {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 1px 3px;
}

footer {
    text-align: center;
    border-top: 1px solid #CCC;
    margin-top: 1em;
    margin-bottom: 1em;
}

pre, code {
    font-family: monospace;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 1px 3px;
}

/* Multiline code blocks */
pre > code {
    border-style: none;
}

.z80 {
    counter-reset: BOL;
}

.z80 .BOL:after {
    counter-increment: BOL;
    content: counter(BOL);
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    text-align: right;
    width: 2em;
    border-right: 1px solid #CCC
}

.z80 .label {
    color: rgb(38,71,75);
}
.z80 .numeric {
    color: rgb(28,1,206);
}
.z80 .string {
    color: rgb(196,26,22);
}
.z80 .comment {
    color: rgb(5,117,0);
}
.z80 .operator {
    color: rgb(100,56,32);
}
.z80 .keyword {
    color: rgb(127,2,127);
}
.z80 .macro {
    color: rgb(100, 56,32);
}
.z80 .register {
    color: rgb(63,110,117);
    font-weight: bold;
}
.z80 .eightbit {
    font-style: italic
}
.z80 .flagbit {
    font-style: oblique;
}

kbd {
    color: white;
    background-color: black;
    padding: .2em;
    border-radius: .5em;
}

img {
    max-width: 100%;
}

dt {
    float: left;
    clear: none;
    text-align: right;
    font-weight: bold;
    margin-right: .5em;
    min-width: 5em;
}
dt:after {
    content: ":";
}

dl, .pop {
    background-color: rgb(51, 74, 140);
    color: white;
    padding: .5em;
}
dl code, .pop code {
    color: black;
}
.no-pop dl {
    background-color: #F5F5F5;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tbody {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
tbody th, tbody td {
    border: 1px solid #CCC;
}
tbody th:first-child, tbody td:first-child {
    border-left: none;
}
tbody th:last-child, tbody td:last-child {
    border-right: none;
}
tr:nth-child(even) {
    background-color: #E8E8F0;
}

a {
    color: rgb(44,67,136);
}

a:hover, a:visited:hover {
    color: rgb(44,136,67);   
}

a:active, a:visited {
    color: rgb(136,67,44);
}
